<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>次方與根號計算</title>
</head>
<body>
    <h2>次方與根號計算</h2>
    <form method="post" action="/calc">
        x:
        <input type="number" name="x">
        <br><br>運算 : 
        	<select name="op">
        		<option value="power">∧(次方)</option>
                <option value="sqrt">√(根號)</option>
        	</select>
        <br><br>y:
        <input type="number" name="y">
        <br><br><input type="submit" name="cal" value="計算">
    {% if result %}
	<p>結果：{{ result }}</p>
	{% endif %}
    </form>
    <a href=/>返回個人首頁</a><br>
</body>
</html>